package ${package}.manage_${moduleName}.controller;

import ${package}.api.${moduleName}.${className}ControllerApi;
import com.tentwelve.model.response.QueryResponseResult;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${package}.entity.${moduleName}.${className};
import ${package}.manage_${moduleName}.service.${className}Service;



/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("${moduleName}/${pathName}")
public class ${className}Controller implements ${className}ControllerApi{
    @Autowired
    private ${className}Service ${classname}Service;


    /**
    *  分页查询
    * @param size 页面大小
    * @param current 当前页
    * @param  ${classname}
    * @return
    */
    @Override
    @RequestMapping(method = RequestMethod.GET)
    public QueryResponseResult queryPage(@RequestParam(defaultValue = "10") Integer size ,@RequestParam
            (defaultValue="1") Integer current, ${className} ${classname}) {
        return ${classname}Service.queryPage( size, current, ${classname});
    }


}
