package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.entity.${moduleName}.${className};

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}Service {

    public QueryResponseResult queryPage(Page<${className}> page) {
        IPage<${className}> page = this.page(
                new Query<${className}>().getPage(page),
                new QueryWrapper<${className}>()
        );
##        IPage<${className}> ${className}Page = labelmapper.queryPage(page, new QueryWrapper<>());
##        QueryResult queryResult = new QueryResult();
##        queryResult.setList(${className}Page.getRecords());
        return new QueryResponseResult(CommonCode.SUCCESS,queryResult) ;
    }
}

